/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Apr-2020, 18:09:11
    Author     : Othmen
*/

.combo-box  {
    -fx-font-size : 20px;
}

.combo-box-popup .list-view {
    -fx-font-size : 18px;
}


